* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

html {
  font-family: monospace;
  background-color: var(--back-color);
}

h1{
  padding: .5rem 0;

}

body {
  padding: 1rem .5rem .5rem ;
  max-width: 360px;
  margin:auto;
  }

footer {
  padding: 1.5em 0 ;
}

figure {
  margin: 1em 0 1em;
  display: inline-block;
}

#links {
  padding: .2em 0 ;
}

#my-photo {
  max-width: 360px;
}